//main background
$body-background-color: $grey-lt-300;
//sidebar color
$sidebar-color: $grey-dk-300;
//lines color
$border-color: $red-300;

$body-text-color: $grey-dk-250;

//color headings (same for navbar than the main)
$body-heading-color: $blue-000;
//color headings (same for navbar than the main)
$nav-child-link-color: $grey-lt-300;

$link-color: $red-200;

$btn-primary-color: $yellow-200;
$base-button-color: $red-300;

$code-background-color: $grey-lt-000;
