body{
font: 400 15px Lato, sans-serif;
line-height: 1;
/*color: #202020;*/
}
.navbar-inverse {
     background-color: #222;
}
.navbar {
margin-bottom: 0;
line-height: 1.42857143 !important;
}
.bg-1 {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
background-color:  #2a27c6;
color: #ffff;
}
.bg-grey {
background-color: #d3d3d3;
}
.jumbotron {
padding-top: 110px;
padding-bottom: 70px;
padding-left: 25px;
padding-right: 25px;
}
.container-fluid-extra {
padding: 20px 20px;
}

@media screen and (max-width: 1000px) {
    .col-sm-4 {
	text-align: center;
	margin: 25px 0;
    }

}
.panel-default > .panel-heading {
    background-color:#222;
}
.collapsed{
  color: #ffff;
}
.panel-collapse{
  background-color: #ffff;
}
.anchor{
display: block;
height: 51px; /*same height as header*/
margin-top: -51px; /*same height as header*/
visibility: hidden;
}
.project{
color: #812000;
}
.page-footer{
padding-top: 100px;
padding-bottom:100px;
}
.carousel-inner{
margin-top: 20px;
margin-bottom: 20px;
}
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
width: 100%;
height: auto;
}
p{
    margin-top: 1%;
    margin-bottom: 10%;
    margin-right: 15%;
    margin-left: 15%;
}
.li{
    font:  25px Lato, sans-serif;
    line-height: 1.2;
}
footer{
  background-color: #222;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 0%;
  margin-left: 0%;
}

.buttonrounded {border-radius: 20px;}
/* bg-light { */
/*     background-color: #000000; */
/*     color: #ffffff; */
/* } */
